@import url("https://fonts.google.com/specimen/Poppins)");

:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
  --red: #d81515;
  --very-grey-black: #f0f0f0;
  --grey-black: #565656;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  /* font-size: 10px; */
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background-color: rgb(179, 30, 30);
}

.brand-name {
  position: absolute;
  width: 185px;
  height: 42px;
  left: 98px;
  top: 77px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;

  color: #000000;
}
